::-webkit-scrollbar {
    width: 10px;
  }


  
  ::-webkit-scrollbar-thumb{
    width: 5px;
    background-color: rgb(99, 99, 99);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-track:hover{
    width: 10px;
    background-color: rgb(202, 202, 202);
    border-radius: 10px;
  }

  /* Add styles for the logo animation */
.logo-container {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}

/* Add a class to increase the size when listening */
.logo-listening {
  transform: scale(1.2); /* Adjust the scale factor as needed */
}
