@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  height: 100%;
  width: 100%;
}


::-webkit-scrollbar {
  width: 0px;
}


.loader-spinner {
  animation: spin 800ms infinite linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.loader-zoom {
  animation: zoom 2000s infinite linear;
  transform: scale(2);
}




.cursor-blinker{
  animation: blink 1s linear infinite;
  opacity: 1;
}

@keyframes blink {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}